body {
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Mada", sans-serif;
}

h1 {
    text-align: center;
    background-color: blue;
}
.search-column {
    background-color: #d3d3d3;
}